* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/1613680349_20-p-fon-dlya-prezentatsii-programmirovanie-24.jpg);
    background-repeat: no-repeat;
    user-select: none;

    height: 4554px;
}

@media (min-width: 390px) {
    /* body{ */
    /* width: 30px; */
    /*Я хз как адаптив делать :c*/
    /* } !*/
}

.menuNav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: lime;
}

a:hover {
    text-decoration: none;
    color: black;
}

.thre {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 30px;
}

.thre:hover {
    /* Хз почему не работает,должно останавливать анимацию шариков при наведении на них.*/
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 30px;
    animation-play-state: paused;
}

.first {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: red;
    animation: first1 0.1s infinite linear;
}

@keyframes first1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotateZ(360deg);
        background-color: crimson;
    }
}

.zvezda-parent{
    display: flex;
    justify-content: space-between;
    /* display: none; */
    animation: zvezda11 2.5s 0s linear infinite;
}

@keyframes zvezda11 {
    0%{
        display: flex;
        transform: scale(0.1);
        margin-left: 19px;
        margin-top: 10px;
        position: fixed;
        /* transform: rotateY(45deg); */
        color: red;
    }
    50%{
        display: flex;
        margin-left: 19px;
        margin-top: 10px;
        position: fixed;
        transform: rotateY(45deg);
        color: yellow;
    }
    100%{
        display: flex;
        transform: scale(1);
        margin-left: 19px;
        margin-top: 10px;
        position: fixed;
        transform: rotateY(45deg);
        color: blue;
    }
}

.zvezda{
    display: flex;
    margin-left: 110px;
    margin-top: 10px;
    position: fixed;
    transform: scale(3);
}
.zvezda2{
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
    position: fixed;
    transform: scale(3);
}
.zvezda3{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    position: fixed;
    transform: scale(3);
}


.zvezda_parent_2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: -195px;
    transform: rotateY(45deg);
    
}
.zvezda12{
    display: flex;
    margin-left: 110px;
    margin-top: 10px;
    position: fixed;
    transform: scale(3.6);
}
.zvezda22{
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
    position: fixed;
    transform: scale(3.6);
}
.zvezda33{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    position: fixed;
    transform: scale(3.6);
}


.element {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-left: 310px;
}

.element1 {
    display: flex;
    justify-content: center;
    color: white;
    height: 55px;

    /* cubic-bezier(0,-0.72,.97,1.29) */
}

#pElement1 {
    animation: El1 0.1s infinite linear;

}

#but1 {
    /* display: flex;
    justify-content: space-between; */
    position: fixed;
    width: 130px;
    height: 53px;
    /* 63 px */
    border-radius: 10px;
    background-color: black;
    margin-left: -460px;
}

#pElement1:hover {
    animation-play-state: paused;
}

@keyframes El1 {
    0% {
        color: lime;
    }

    50% {
        color: red;
    }

    75% {
        color: aqua;
    }

    80% {
        color: brown;
    }

    85% {
        color: orange;
    }

    90% {
        color: blueviolet;
    }

    100% {
        color: cyan;
    }

}




.two {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(255, 230, 0);
    animation: two2 0.1s infinite linear;
}

@keyframes two2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotateZ(360deg);
        background-color: yellow;
    }
}

.three {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: darkblue;
    animation: three3 0.1s infinite linear;
}

@keyframes three3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotateZ(360deg);
        background-color: blue;
    }
}